
<div>
    Balance : <%= @user.bank_balance %><br>
    Account : <%= @user.account_number %><br>
</div>
<% if @user.addcash != 1 %>
    <div id="cash">
        <p>Congratulations you have given 10 000EUR as welcome bonus</p>
        <button id="cash_amount"/><%=  link_to "Click here to receive", add_sum_user_path(@user) %></button>
    </div>
<% end %>
<% if @user.accountNumber != 1 %>
<div>
    You have to generate account number <br>
    
    <%=  link_to "Click here to generate account number", add_number_user_path(@user) %>
</div>
<% end %>
<%= form_for %>

<% end %>